# R session and local environment
.Rhistory
.RData
.Ruserdata

# Local outputs and bundled libraries
TEMIR_run/
lib/

# Large TEMIR input data are not tracked in GitHub
TEMIR_inputs/CLM4.5_GDDx_map/**
!TEMIR_inputs/CLM4.5_GDDx_map/.gitkeep

TEMIR_inputs/crop_calender/**
!TEMIR_inputs/crop_calender/.gitkeep
!TEMIR_inputs/crop_calender/Sack2010/
!TEMIR_inputs/crop_calender/Sack2010/.gitkeep

TEMIR_inputs/GDDmat_maps/**
!TEMIR_inputs/GDDmat_maps/.gitkeep
!TEMIR_inputs/GDDmat_maps/CLM4.5/
!TEMIR_inputs/GDDmat_maps/CLM4.5/.gitkeep

TEMIR_inputs/initial_data/**
!TEMIR_inputs/initial_data/.gitkeep

TEMIR_inputs/met_data/**
!TEMIR_inputs/met_data/.gitkeep
!TEMIR_inputs/met_data/GEOS_2x2.5/
!TEMIR_inputs/met_data/GEOS_2x2.5/.gitkeep
!TEMIR_inputs/met_data/GEOS_2x2.5/MERRA2/
!TEMIR_inputs/met_data/GEOS_2x2.5/MERRA2/.gitkeep

TEMIR_inputs/o3_input/**
!TEMIR_inputs/o3_input/.gitkeep

TEMIR_inputs/processed_surf_data/**
!TEMIR_inputs/processed_surf_data/.gitkeep

TEMIR_inputs/site_measurements_inputs/**
!TEMIR_inputs/site_measurements_inputs/.gitkeep
!TEMIR_inputs/site_measurements_inputs/example_case001/
!TEMIR_inputs/site_measurements_inputs/example_case001/**

TEMIR_inputs/soilT_map/**
!TEMIR_inputs/soilT_map/.gitkeep
!TEMIR_inputs/soilT_map/MERRA2/
!TEMIR_inputs/soilT_map/MERRA2/.gitkeep

TEMIR_inputs/surf_data/**
!TEMIR_inputs/surf_data/.gitkeep
!TEMIR_inputs/surf_data/clm2/
!TEMIR_inputs/surf_data/clm2/.gitkeep
!TEMIR_inputs/surf_data/clm2/pftdata/
!TEMIR_inputs/surf_data/clm2/pftdata/.gitkeep
!TEMIR_inputs/surf_data/clm2/surfdata_map/
!TEMIR_inputs/surf_data/clm2/surfdata_map/.gitkeep

TEMIR_inputs/Wesely_const/**
!TEMIR_inputs/Wesely_const/.gitkeep
